# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CHONKYBOIS_LEFT
    def_bool $(shields_list_contains,chonkybois_left)

config SHIELD_CHONKYBOIS_RIGHT
    def_bool $(shields_list_contains,chonkybois_right)