# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CHONKYBOIS_LEFT

config ZMK_KEYBOARD_NAME
    default "Chonky Bois"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHONKYBOIS_LEFT || SHIELD_CHONKYBOIS_RIGHT

config ZMK_SPLIT
    default y

endif